[submodule "vendor/WDN-TinyMCE"]
  path = vendor/WDN-TinyMCE
  url = git@git.unl.edu:iim/TinyMCE.git
[submodule "vendor/NmcFramework"]
  path = vendor/NmcFramework
  url = git@git.unl.edu:UNL-Information-Services/NMC-PHP-Framework.git
[submodule "sites/all/modules/diff"]
  path = sites/all/modules/diff
  url = http://git.drupal.org/project/diff.git
[submodule "sites/all/modules/tims"]
  path = sites/all/modules/tims
  url = https://github.com/unlcms/tims.git
[submodule "vendor/Twig"]
	path = vendor/Twig
	url = https://github.com/fabpot/Twig.git
[submodule "sites/all/libraries/codemirror"]
	path = sites/all/libraries/codemirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "sites/all/modules/og"]
	path = sites/all/modules/og
	url = http://git.drupal.org/project/og.git
[submodule "sites/all/modules/override_node_options"]
	path = sites/all/modules/override_node_options
	url = http://git.drupal.org/project/override_node_options.git
[submodule "sites/all/modules/entityreference"]
	path = sites/all/modules/entityreference
	url = http://git.drupal.org/project/entityreference.git
[submodule "sites/all/modules/unl_access"]
	path = sites/all/modules/unl_access
	url = https://github.com/unlcms/unl_access.git
[submodule "sites/all/modules/sabredav"]
	path = sites/all/modules/sabredav
	url = https://github.com/unlcms/drupal-sabredav.git
[submodule "sites/all/modules/unl_person"]
	path = sites/all/modules/unl_person
	url = https://github.com/unlcms/unl_person.git
[submodule "sites/all/modules/feeds_xpathparser"]
	path = sites/all/modules/feeds_xpathparser
	url = http://git.drupal.org/project/feeds_xpathparser.git
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = http://git.drupal.org/project/libraries.git
[submodule "sites/all/modules/rules"]
	path = sites/all/modules/rules
	url = http://git.drupal.org/project/rules.git
[submodule "sites/all/modules/unl_migration"]
	path = sites/all/modules/unl_migration
	url = https://github.com/unlcms/unl_migration.git
[submodule "sites/all/themes/unl_fourone_og"]
	path = sites/all/themes/unl_fourone_og
	url = https://github.com/unlcms/unl_fourone_og.git
[submodule "sites/all/themes/unl_fourone"]
	path = sites/all/themes/unl_fourone
	url = https://github.com/unlcms/unl_fourone.git
[submodule "sites/all/themes/unl_five"]
	path = sites/all/themes/unl_five
	url = https://github.com/unlcms/unl_five.git
