[submodule "vendor/WDN-TinyMCE"]
  path = vendor/WDN-TinyMCE
  url = git@github.unl.edu:iim/TinyMCE.git
[submodule "vendor/NmcFramework"]
  path = vendor/NmcFramework
  url = git@github.unl.edu:UNL-Information-Services/NMC-PHP-Framework.git
[submodule "sites/all/modules/diff"]
  path = sites/all/modules/diff
  url = http://git.drupal.org/project/diff.git
[submodule "sites/all/modules/tims"]
  path = sites/all/modules/tims
  url = https://github.com/unlcms/tims.git
[submodule "vendor/Twig"]
	path = vendor/Twig
	url = https://github.com/fabpot/Twig.git
[submodule "sites/all/themes/unl_og"]
	path = sites/all/themes/unl_og
	url = git@github.com:unlcms/unl_og.git
