
/* ---------- Color Module Styles ----------- */

#wdn_identity_management {left: 480px;}

/* - breadcrumbs - */
#breadcrumbs > ul > li > a{
background: url('/sharedcode/affiliate_imgs/2011_breadcrumb_li.png') no-repeat right 3px;
}

#breadcrumbs > ul > li.selected > a {
color: #9d0201;
}

/* - navigation - */
#navigation > ul > li > a, #navigation > ul > li.empty a, #navigation > ul > li.empty:hover a {
background: #9d0201;
background: -moz-linear-gradient(top,#b70302 0%,#9d0201 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b70302),color-stop(100%,#9d0201));
background: -webkit-linear-gradient(top,#b70302 0%,#9d0201 100%);
background: -o-linear-gradient(top,#b70302 0%,#9d0201 100%);
background: -ms-linear-gradient(top,#b70302 0%,#9d0201 100%);
background: linear-gradient(top,#b70302 0%,#9d0201 100%);
border-right: 1px solid #9d0201;
border-left: 1px solid #b70302;
border-top: 1px solid #9d0201!important;
}

#navigation > ul > li.empty a, #navigation > ul > li.empty:hover a {border-left-color: transparent; border-right-color: transparent;}

#navigation > ul > li:hover > a {
background: #ac2625;
background: -moz-linear-gradient(top,#c12726 0%,#ac2625 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#c12726),color-stop(100%,#ac2625));
background: -webkit-linear-gradient(top,#c12726 0%,#ac2625 100%);
background: -o-linear-gradient(top,#c12726 0%,#ac2625 100%);
background: -ms-linear-gradient(top,#c12726 0%,#ac2625 100%);
background: linear-gradient(top,#c12726 0%,#ac2625 100%);
}

#navigation > ul > li:nth-child(n+7) > a {
border-top: 1px solid #9d0201;
box-shadow: 0px -1px 0px #9d0201;
}

/* - search box - */
#wdn_search {
background: #9d0201;
background: -moz-linear-gradient(top,#b70302 0%,#9d0201 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b70302),color-stop(100%,#9d0201));
background: -webkit-linear-gradient(top,#b70302 0%,#9d0201 100%);
background: -o-linear-gradient(top,#b70302 0%,#9d0201 100%);
background: -ms-linear-gradient(top,#b70302 0%,#9d0201 100%);
background: linear-gradient(top,#b70302 0%,#9d0201 100%);
}

#wdn_search form #q{
border-color: #9d0201 
}

/* - links - */
#maincontent a {
color: #ba0000;
}

#maincontent a:hover {
color: #ee0000 !important;
}

#maincontent a:focus {
color: #cc0000 !important;
}

/* - copyright footer - */
#wdn_copyright {
background: #9d0202;
background: -moz-linear-gradient(top,#b70303 0%,#9d0202 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b70303),color-stop(100%,#9d0202));
background: -webkit-linear-gradient(top,#b70303 0%,#9d0202 100%);
background: -o-linear-gradient(top,#b70303 0%,#9d0202 100%);
background: -ms-linear-gradient(top,#b70303 0%,#9d0202 100%);
background: linear-gradient(top,#b70303 0%,#9d0202 100%);
text-shadow: 0 1px 0 #9d0202;
}
#wdn_logos #unl_wordmark {
-webkit-box-shadow: 1px 0px 0px #9d0202;
-moz-box-shadow: 1px 0px 0px #9d0202;
box-shadow: 1px 0px 0px #9d0202;
}
