
/* ---------- Color form ----------- */
#color_scheme_form #palette .form-item {
  width: 25em;
}
#color_scheme_form #palette .form-item label {
  width: 15em;
}

/* ---------- Preview Styles ----------- */

html.js #preview {
  clear: both;
  float: none !important;
}
#preview {
  border: 12px solid #EEE;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #AAA;
  background-color: #fff;
  font-family: "Lucida Grande",Verdana,Arial,sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
}
#preview-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}
#preview-logo {
  float: left;
  padding: 15px 15px 15px 10px;
}
#preview-site-name {
  color: #555;
  font-weight: normal;
  font-size: 2.821em;
  line-height: 1;
  margin-bottom: 30px;
  margin-left: 15px;
  padding-top: 34px;
}

/* - Menu - */
#preview-main-menu {
  font-size: 14px;
  clear: both;
  padding: 0 15px 3px;
  margin: 0 12px;
  border-radius: 5px;
}
#preview-main-menu-links a {
  color: #fff;
  padding: 0.6em 1em 0.4em;
  text-shadow: 1px 1px 1px #424242;
}
#preview-main-menu-links {
  margin: 0;
  padding: 3px 0;
}

#preview-main-menu-links li {
  display: inline;
  list-style-type: none;
  padding: 0.6em 0 0.4em;
}

/* - Sidebar/Content - */
#preview-sidebar,
#preview-content {
  display: inline;
  float: left;
  position: relative;
}
#preview-sidebar {
  margin-left: 15px;
  width: 210px;
}
#preview-content {
  margin-left: 30px;
  width: 26.5em;
}
#preview-sidebar .preview-block {
  border: 1px solid;
  margin: 20px 0;
  padding: 15px 20px;
}
#preview-sidebar h2 {
  border-bottom: 1px solid #d6d6d6;
  font-size: 1.071em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0.5em;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
}
#preview .preview-block .preview-content {
  margin-top: 1em;
}
#preview .preview-block-menu .preview-content,
#preview .preview-block-menu .preview-content ul {
  margin-top: 0;
}
#preview-main {
  margin-bottom: 40px;
  margin-top: 20px;
}
#preview-page-title {
  color: #535353;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 0.3em;
  padding-top: 0.4em;
}

/* - Footer - */
#preview-footer-wrapper {
  color: #ffffff;
  display: block !important;
  font-size: 11px;
  padding: 10px 20px 15px;
  text-shadow: 0px 1px 0px #424242;
}
#preview-footer-wrapper a {
  color: #ffffff;
  text-decoration: underline;
}