/**
 * Most unl_wdn css comes from all.css in the WDNTemplates project.
 * CSS that does appear here is for CMS specific items or modifications
 * that need to be made for WDN styles to work with CMS DOM structure.
 */

/* Position tabs at the top right of maincontent */
#maincontent ul.wdn_tabs.cms_tabs {position: absolute; right: 0; top: -60px; width: auto;}
/* Fix for a Views page */
#pagetitle {position: relative;}
#wdn_content_wrapper.contextual-links-region {position: static;}
/* UNL css displays all ul in copyright area as inline, need to hide this */
#wdn_copyright ul.contextual-links {display: none;}
/* Overrides of system.menus.css due to conflicts with UNL navigation */
#navigation li {margin: 0; padding: 0; list-style-image: none; list-style-type: none;}
/* Override for unl #maincontent specificity */
ul.links.inline {padding-left: 0 !important;}
/* Overrides of system.theme.css, form.css */
.zenform label {display: inline; font-weight: normal;}
#wdn_search_form fieldset {background: none; border: none; margin: 0; padding: 0; position: static;}
#wdn_search_form label {font-weight: normal;}
#wdn_search_form input {margin: 0; padding: 0;}
#wdn_footer_feedback fieldset {position: static; padding: 0; margin: 0; border: none; background: none;}
#wdn_feedback legend, #wdn_feedback_comments legend {position: static; top: auto; left: auto; color: #333; line-height:1.7em; text-indent: 0; border: none; background: none; height: inherit; width: inherit;}
#wdn_copyright .block {margin: 0;}
#toolbarcontent fieldset {border: none; margin: 0; padding: 0;}

/* taxonomy */
.taxonomy-term-description {
  box-shadow: 0 0 1px #bbb;
  margin: 0 0 20px;
  padding: 10px;
}

/* book */
.book-navigation ul {
  border-top: 1px solid #E1E1DB;
  padding: 1em 0 1em 3em !important;
  margin-bottom: 30px;
}
.book-navigation .page-links {
  background: #F7F7F7;
  border-bottom: 1px solid #E1E1DB;
  border-top: 1px solid #E1E1DB;
  margin: 50px 0 20px;
}
.book-navigation .page-links a,
.node-book .links a {
  color: #777 !important;
  font-size: .9em;
}

/* menu block */
.block-menu-block {box-shadow: 0 0 1px #bbb;}
#maincontent .block-menu-block a {color: #333;}
#maincontent .block-menu-block a:hover {color: #EE0000;}
.block-menu-block a.active {background-color: #F2E8B1 !important;}
.block-menu-block h3 {background-color: #95B8CC; color: #FFF !important; font-size: 1.4em !important; margin-bottom: 1px; padding: 5px 10px;}
.block-menu-block h3 a {color: #FFF !important;}
.block-menu-block ul {padding: 0 !important; list-style-image: none !important; list-style-type: none !important;}
.block-menu-block li {padding: 0 !important;}
.block-menu-block .content > ul > li,
.block-menu-block .content > ul > li > ul > li {list-style-image: none !important; list-style-type: none !important;}
.block-menu-block .content > ul > li > a {display: block; background-color: #F2EDDE; padding: 5px 5px 5px 10px; margin-bottom: 1px; text-transform: uppercase; border-bottom: 1px solid #E2E2E2;}
.block-menu-block .content > ul > li.collapsed > a,
.block-menu-block .content > ul > li > ul > li.collapsed > a,
.block-menu-block .content > ul > li.has-children > a {background-image: url("../../../../misc/menu-collapsed.png"); background-position: 97% center; background-repeat: no-repeat;}
.block-menu-block .content > ul > li:last-child > a {border: none; margin: 0;}
.block-menu-block .content > ul > li > ul > li > a {display: block; background-color: #F2F2F2; padding: 5px 5px 5px 20px; margin-bottom: 1px;}
.block-menu-block .content > ul > li > ul > li > ul {padding: 5px 0 5px 40px !important;}
.block-menu-block .content > ul > li > ul > li > ul ul {padding: 0 0 0 10px !important;}

/* unl_newsitem full page */
.page-node .node-unl-newsitem .submitted {
  border-color: #F2EDDE;
  border-width:  0 0 2px 0;
  border-style: solid;
  margin: 0 0 15px 0;
  padding: 3px 0;
  color: #666;
}
.page-node .node-unl-newsitem .submitted .username {
  color: #666 !important;
}
.page-node .node-unl-newsitem .submitted .username:hover {
  text-decoration: underline !important;
}
.page-node .node-unl-newsitem .submitted .datetime {
  font-style: italic;
  margin-left: 10px;
}
.page-node .node-unl-newsitem .field-name-field-unl-newsimg {
  border-color: #F2EDDE;
  border-width: 1px 0;
  border-style: solid;
  margin: 0 0 15px 0;
  padding: 3px 0;
}
.page-node .node-unl-newsitem .primary-image {
  float: right;
  margin-left: 10px;
  max-width: 50%;
}
.page-node .node-unl-newsitem .primary-image img,
.page-node .node-unl-newsitem .primary-image .caption {
  width: 96%;
}
.page-node .node-unl-newsitem .field-name-field-unl-newsimg .field-item {
  display: inline;
}
.page-node .node-unl-newsitem .field-name-field-unl-newsimg .field-item img {
  max-height: 120px;
  margin: 0 10px 10px 0;
}

/* sidebar */
.sidebar .block {
  margin: 0 0 30px 0;
}
.sidebar .block:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* block */
.block {
  margin: 0 0 30px 0;
}

/* block made with Views */
.block-views {
  position: relative;
  padding: 10px;
  margin: 0 0 30px 0;
  box-shadow: 0 0 1px #bbb;
}
.block-views .view-teaser-abbr .feed-icon {
  top: 8px;
}

/* .view-teaser-abbr */
.view-teaser-abbr .feed-icon {
  position: absolute;
  right: 5px;
  top: 3px;
}
.view-teaser-abbr ul {
  list-style: none !important;
  padding: 0 !important;
}
.view-teaser-abbr ul li:first-child {
  border-top: 3px solid #444;
}
.view-teaser-abbr ul li {
  border-top: 1px solid #aaa;
  padding: 5px 0 10px 0;
  margin: 0;
}
.view-teaser-abbr ul h4 a.imagelink {
  float: right;
  margin-left: 10px;
}
.view-teaser-abbr ul h4 img {
  border: 1px solid #ccc;
  padding: 1px;
}
.view-teaser-abbr ul h4 a {
  font-size: 14px;
  color: #555 !important;
  font-weight: normal;
}
.view-teaser-abbr .more-link {
  text-align: left;
}
.view-teaser-abbr .more-link a {
  background: #3388bb;
  padding: 3px 8px;
  color: #eee !important;
}

/* .node-teaser */
.node-teaser {
  margin-bottom: 10px;
  padding: 10px;
}
.node-teaser.node-sticky {
  background-color: #E8F4FF !important;
  border: 1px solid #E1EAF0;
}
.content > .node-teaser:nth-child(odd) {
  background-color: #f7f7f7;
}
.views-row-even .node-teaser {
  background-color: #f7f7f7;
}
.node-teaser .content {
  margin-bottom: 5px;
}
.node-teaser h2, .node-teaser h3, .node-teaser h4, .node-teaser h5, .node-teaser h6 {
  padding-top: 0 !important;
}
.node-teaser h2 a, .node-teaser h3 a, .node-teaser h4 a, .node-teaser h5 a, .node-teaser h6 a {
  color: #444 !important;
  font-size: 18px !important;
}
.node-teaser h2 a:hover, .node-teaser h3 a:hover, .node-teaser h4 a:hover, .node-teaser h5 a:hover, .node-teaser h6 a:hover {
  text-decoration: underline !important;
}
.node-teaser .meta.submitted {
  font-size: .95em;
  color: #888;
  margin-bottom: 15px;
}
.node-teaser .meta.submitted .username {
  color: #888 !important;
}
.node-teaser .meta.submitted .username:hover {
  text-decoration: underline !important;
}
.node-teaser .meta.submitted .datetime {
  font-style: italic;
  margin-left: 10px;
}
.node-teaser .links {
  float: right;
}
.node-teaser .node-readmore a {
  background: #3388bb;
  padding: 3px 8px;
  color: #eee !important;
}
.node-teaser .field-type-image .field-item {
  float: left;
  margin: 0 20px 30px 0;
}
