/* Most unl_wdn css comes from all.css in the WDNTemplates project.
   CSS that does appear here is for CMS specific items or modifications
   that need to be made for WDN styles to work with CMS DOM structure.
*/
body.fixed #maincontent {
  min-width:940px;
  overflow:visible !important;
}
#maincontent ul.wdn_tabs.cms_tabs {
  position:absolute;
  right:0;
  top:-60px;
}

/* Remove border found in system.theme.css
   http://drupal.org/node/93357 */
tbody {
  border-top: none;
}