/**
 * Most unl_wdn css comes from all.css in the WDNTemplates project.
 * CSS that does appear here is for CMS specific items or modifications
 * that need to be made for WDN styles to work with CMS DOM structure.
 */

/* Position tabs at the top right of maincontent */
body.fixed #maincontent {min-width: 960px;}
#maincontent ul.wdn_tabs.cms_tabs {position: absolute; right: 0; top: -60px; width: auto;}
/* Fix for a Views page */
#pagetitle {position: relative;}
#wdn_content_wrapper.contextual-links-region {position: static;}
/* Hide the contextual links in the UNL nav */
#navigation div.contextual-links-wrapper {display: none;}
/* Hide file icon in file field */
.field-type-file .file-icon {display: none;}
/* UNL css displays all ul in copyright area as inline, need to hide this */
#wdn_copyright ul.contextual-links {display: none;}
/* Overrides of system.menus.css due to conflicts with UNL navigation */
#navigation ul li.expanded, #navigation ul li.collapsed , #navigation ul li.leaf {list-style-image: none; list-style-type: none;}
#navigation li.expanded, #navigation li.collapsed, #navigation li.leaf {margin: 0; padding: 0;}
/* Override for unl #maincontent specificity */
ul.links.inline {padding-left: 0 !important;}

/* taxonomy
*********/
.taxonomy-term-description {
  box-shadow: 0 1px 3px #999999;
  margin: 0 0 20px;
  padding: 10px;
}

/* book
*********/
.book-navigation ul {
  border-top: 1px solid #E1E1DB;
  padding: 1em 0 1em 3em !important;
}
.book-navigation .page-links {
  border-bottom: 1px solid #E1E1DB;
  border-top: 1px solid #E1E1DB;
  margin-bottom: 20px;
}
.book-navigation .page-links a,
.node-book .links a {
  color: #777 !important;
  font-size: .9em;
}
/* book nav block and menu-block */
#block-book-navigation,
.block-menu-block {box-shadow: 0 1px 3px #999; padding-bottom: 0 !important;}
#block-book-navigation a,
#maincontent .block-menu-block a {color: #333;}
#maincontent .block-menu-block a:hover {color: #ee0000;}
#block-book-navigation h3,
.block-menu-block h3 {background-color: #3388BB; color: #FFF !important; font-size: 1.4em !important; margin-bottom: 1px; padding: 5px 10px;}
#block-book-navigation h3 a {color: #FFF !important;}
.block-menu-block .content > ul > li > a {display: none;}

#block-book-navigation ul,
.block-menu-block ul {padding: 0 !important; list-style-image: none !important; list-style-type: none !important;}
#block-book-navigation li,
.block-menu-block li {padding: 0 !important;}

#block-book-navigation .content > ul > li, #block-book-navigation .content > ul > li > ul > li,
.block-menu-block .content > ul > li, .block-menu-block .content > ul > li > ul > li, .block-menu-block .content > ul > li > ul > li > ul > li { list-style-image: none !important; list-style-type: none !important;}
#block-book-navigation .content > ul > li > a,
.block-menu-block .content > ul > li > ul > li > a {display: block; background-color: #eeeee5; padding: 5px 5px 5px 10px; margin-bottom: 1px; text-transform: uppercase; border-bottom: 1px solid #E2E2E2;}
#block-book-navigation .content > ul > li.collapsed > a, #block-book-navigation .content > ul > li > ul > li.collapsed > a,
.block-menu-block .content > ul > li > ul > li.has-children > a, .block-menu-block .content > ul > li > ul > li > ul > li.has-children > a {background-image: url("../../../../misc/menu-collapsed.png"); background-position: 97% center; background-repeat: no-repeat;}
#block-book-navigation .content > ul > li:last-child > a,
.block-menu-block .content > ul > li > ul > li:last-child > a {border: none; margin: 0;}
#block-book-navigation .content > ul > li > ul > li > a,
.block-menu-block .content > ul > li > ul > li > ul > li > a {display: block; background: #eeeeee; padding: 5px 5px 5px 15px; margin-bottom: 1px;}
#block-book-navigation .content > ul > li > ul > li > ul,
.block-menu-block .content > ul > li > ul > li > ul > li > ul {padding: 5px 0 5px 40px !important;}
#block-book-navigation .content > ul > li > ul > li > ul ul,
.block-menu-block .content > ul > li > ul > li > ul > li > ul ul {padding: 0 0 0 15px !important;}

/* unl_newsitem full page
*********/
.page-node .node-unl-newsitem .submitted {
  border-color: #F2EDDE;
  border-width:  0 0 2px 0;
  border-style: solid;
  margin: 0 0 15px 0;
  padding: 3px 0;
  color: #666;
}
.page-node .node-unl-newsitem .submitted .username {
  color: #666 !important;
}
.page-node .node-unl-newsitem .submitted .username:hover {
  text-decoration: underline !important;
}
.page-node .node-unl-newsitem .submitted .datetime {
  font-style: italic;
  margin-left: 10px;
}
.page-node .node-unl-newsitem .field-name-field-unl-newsimg {
  border-color: #F2EDDE;
  border-width: 1px 0;
  border-style: solid;
  margin: 0 0 15px 0;
  padding: 3px 0;
}
.page-node .node-unl-newsitem .primary-image {
  float: right;
  margin-left: 10px;
  width: 50%;
}
.page-node .node-unl-newsitem .primary-image img,
.page-node .node-unl-newsitem .primary-image .caption {
  width: 96%;
}
.page-node .node-unl-newsitem .field-name-field-unl-newsimg .field-item {
  display: inline;
}
.page-node .node-unl-newsitem .field-name-field-unl-newsimg .field-item img {
  max-height: 120px;
  margin: 0 10px 10px 0;
}

/* sidebar blocks
*********/
.sidebar .block {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.sidebar .block:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.sidebar .block-views {
  padding: 10px;
  box-shadow: 0 1px 3px #999;
}
.sidebar .block-views .view-teaser-abbr .feed-icon {
  top: 8px;
}

/* .view-teaser-abbr
*********/
.view-teaser-abbr .feed-icon {
  position: absolute;
  right: 5px;
  top: 3px;
}
.view-teaser-abbr ul {
  list-style: none !important;
  padding: 0 !important;
}
.view-teaser-abbr ul li:first-child {
  border-top: 3px solid #444;
}
.view-teaser-abbr ul li {
  border-top: 1px solid #aaa;
  padding: 5px 0 10px 0;
  margin: 0;
}
.view-teaser-abbr ul h4 a.imagelink {
  float: right;
  margin-left: 10px;
}
.view-teaser-abbr ul h4 img {
  border: 1px solid #ccc;
  padding: 1px;
}
.view-teaser-abbr ul h4 a {
  font-size: 14px;
  color: #555 !important;
}
.view-teaser-abbr .more-link a {
  float: right;
  background: #3388bb;
  padding: 3px 8px;
  color: #eee !important;
} 

/* .node-teaser
*********/
.node-teaser {
  margin-bottom: 10px; 
  padding: 10px;
}
.node-teaser.node-sticky {
  background-color: #E8F4FF !important;
  border: 1px solid #E1EAF0;
}
.content > .node-teaser:nth-child(odd) {background-color: #f7f7f7;}
.views-row-even .node-teaser {background-color: #f7f7f7;}
}
.node-teaser .content {
  margin-bottom: 5px;
}
.node-teaser h2, .node-teaser h3, .node-teaser h4, .node-teaser h5, .node-teaser h6 {
  padding-top: 0 !important;
}
.node-teaser h2 a, .node-teaser h3 a, .node-teaser h4 a, .node-teaser h5 a, .node-teaser h6 a {
  color: #444 !important;
  font-size: 18px !important;
}
.node-teaser h2 a:hover, .node-teaser h3 a:hover, .node-teaser h4 a:hover, .node-teaser h5 a:hover, .node-teaser h6 a:hover {
  text-decoration: underline !important;
}
.node-teaser .meta.submitted {
  font-size: .95em;
  color: #888;
  margin-bottom: 15px;
}
.node-teaser .meta.submitted .username {
  color: #888 !important;
}
.node-teaser .meta.submitted .username:hover {
  text-decoration: underline !important;
}
.node-teaser .meta.submitted .datetime {
  font-style: italic;
  margin-left: 10px;
}
.node-teaser .links {
  float: right;
}
.node-teaser .node-readmore a {
  background: #3388bb;
  padding: 3px 8px;
  color: #eee !important;
} 
.node-teaser .field-type-image .field-item {
  float: left;
  margin: 0 20px 30px 0;
}
