


/* 404 page styles */
.wdn-404-search {
    display:block;
    height:48px;
    margin-bottom:20px;
}

.title-404 {
    font-size: 200%;
    line-height:96px;
    color:black;
    margin-top:0;
    margin-bottom:30px;
}

#path-404 {
    display: block;
}

.band-404 .wdn-button {
    font-size: 1.2em;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media (min-width: 480px){
    .band-404 .wdn-button {
        font-size:1.2em;
        margin-right:.5em;
        width: auto;
    }
}

.band-404 h3 {
    font-size:1.15em;
    color:#fff;
    text-transform:uppercase
}

.band-404 {
    background-color:#c00;
    background-image:url(images/red_wave.png);
    background-repeat:repeat;
    color:#fff;
    font-size:1.2em;
    margin-right:3em
    text-transform:uppercase
}

/*End 404 page styles*/

#pagetitle h1 { display: none; }


