.wdn-404-search {
    display:block;
    height:48px;
    padding:0 20px;
}

.band-404 .wdn-button {
    font-size:1.2em;
    margin-right:auto;
    margin-left:auto;
    width: 100%;
    padding:1.069em 2.4em 1em;
}

@media (min-width: 480px){
    .band-404 .wdn-button {
        font-size:1.2em;
        width: auto;
    }}

.band-404 h3,.band-404 h3 {
    font-size:1.15em;
    color:#fff;
    text-transform:uppercase;
}

.band-404 {
    background-color:#c00;
    background-image:url(images/red_wave.png);
    background-repeat:repeat;
    color:#fff;
    font-size:1.2em;
}


#pagetitle h1 { display: none; }


